<div class="container">
  <div class="user-details">
    <h3> About Me </h3>
    <p> {{site.user_description}} </p>
  </div>
  <div class="row user">
    <div>
      <h3>Skills</h3>
	  <i class="devicon-c-plain-wordmark"></i>
	  <i class="devicon-cplusplus-plain-wordmark colored"></i>
 	  <i class="devicon-git-plain colored"></i>
	  <i class="devicon-github-plain-wordmark colored"></i>
	  <i class="devicon-html5-plain colored"></i>
	  <i class="devicon-linux-plain colored"></i>
	  <i class="devicon-python-plain-wordmark colored"></i>
      <p>Else than these, I frequently participate in coding challenges at Codechef, HackerEarth and Codeforces.</p>
    </div>
  </div>
</div>
