<div class="container">
  <div class="user-details">
    <h3> About Me </h3>
    <p> <h5> {{site.user_description}} </h5> </p>
    <p> 20 years old computer science student at IIIT Una. Interested in machine learning, networking and distributed systems. Love solving algorithmic challenges, learning new algorithms, data structures and building things from scratch. Also interested in working and collaborating with people to develop the field of Computer Science.

	<ul type="disc">
		<li>
			Codeforces - <a target="_blank" href="http://codeforces.com/profile/uditgulati0">http://codeforces.com/profile/uditgulati0</a>
		</li>
		<li>
			Codechef - <a target="_blank" href="https://www.codechef.com/users/uditgulati0">https://www.codechef.com/users/uditgulati0</a>
		</li>
		<li>
			SPOJ - <a target="_blank" href="http://www.spoj.com/users/uditgulati0/">http://www.spoj.com/users/uditgulati0/</a>
		</li>
		<li>
			HackerEarth - <a target="_blank" href="https://www.hackerearth.com/@uditgulati0">https://www.hackerearth.com/@uditgulati0</a>
		</li>
		<li>
			GitHub - <a target="_blank" href="https://github.com/Uditgulati">https://github.com/Uditgulati</a>
		</li>
		<li>
			Blog - <a target="_blank" href="https://uditgulati.github.io/blog/">https://uditgulati.github.io/blog/</a>
  		</li>
  	</ul>
  </div>
</div>
